@import url('https://fonts.googleapis.com/css?family=Didact+Gothic:400,700,800');

body {
    margin: 0;
    padding-top: 60px;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    background-color: #087990
}

h1,
h2,
h3 {
    color: #4FCB6A
}

h1 {
    font-size: 2.5em;
    font-weight: 600
}

h2 {
    font-size: 1.5em;
    font-weight: 400
}

a,
a.nav-link {
    text-decoration: none;
    color: #fff
}

img:hover {
    opacity: 0.8
}

nav {
    min-width: 370px
}

li.nav-item.active a {
    color: #4FCB6A
}

.navbar h1,
.navbar h2 {
    color: #fff
}

.navbar {
    background-color: #024B59
}

#navbar {
    margin-left: 2rem
}