@import url('https://fonts.googleapis.com/css?family=Didact+Gothic:400,700,800');

body {
    margin: 0;
    padding-top: 60px;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    background-color: #087990
}

h1,
h2,
h3 {
    color: #4FCB6A
}

h1 {
    font-size: 2.5em;
    font-weight: 600
}

h2 {
    font-size: 1.5em;
    font-weight: 400
}

a,
a.nav-link,
footer a {
    text-decoration: none;
    color: #fff
}

img:hover {
    opacity: 0.8
}

/*****************Navbar******************/
nav {
    min-width: 370px
}

li.nav-item.active a {
    color: #4FCB6A
}

.navbar h1,
.navbar h2 {
    color: #fff
}

.navbar {
    background-color: #024B59
}

#navbar {
    margin-left: 2rem
}

/**********footer*****************/
.adress-foot {
    color: #4FCB6A;
}

/**********Contenu pages*****************/

.card {
    box-shadow: 5px 5px 2px 1px rgba(26, 29, 34, 0.244);
    margin-left: 2px;
    color: #fff;
    background-color: #024B59
}

#concert {
    background-image: url(img/concert.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#concert>div,
#contact>div,
.carousel-caption {
    background-color: #024a59dc;
    color: white;
    border-radius: 10px;
    height: max-content;
}

#concert h1,
label {
    color: #4FCB6A
}

#contact {
    background-image: url(img/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#contact,
#concert {
    margin-top: 100px;
    display: flex
}

@media (max-width:676px) {

    h1 {
        font-size: 1.2em;
        font-weight: 600
    }

    h2 {
        font-size: 1em;
        font-weight: 400
    }
}

.carousel-item {

    width: 100%;
    overflow: hidden;
}

.carousel-item img {

    width: 100%;
    object-fit: cover;
}